@use '../../sass/variables.scss' as *;
@use '../../sass/mixins.scss' as *;
.container{
  display: flex;
  flex-direction: column;
  padding: 9rem 0 3rem 0;
  width: $main-container-w;
  margin: 0 auto;
  text-align: center;

  .text_container{
    margin: 0 auto;
    width: min(100rem, 95%);
    margin-bottom: 6.4rem;
    h2{
      font-size: 2.8rem;
      margin-bottom: 2rem;
    }
    h3{
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
    p{
      margin-top: 2rem;
      color: $light-green;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    padding-top: 4rem;
  }
}
.git_link{
  @include return-btn;
  margin-top: -2rem;
  display: flex;
  justify-content: center;
}