@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Poppins&display=swap');

// colors
$light-gray: #d5dde823;
// $gray: #6666891e;
$gray: #1a1a20d8;
$black: #0f0f12;
$white: #e0e0e0;
$green: #097969;
$light-green: #3dc8b3bc;
// font-sizes
$font-h1: 3rem;
$font-links: 2rem;
$font-p: 1.6rem;
// fonts
$font-f-text: 'Poppins', sans-serif;
$font-f-alt: 'Maven Pro', sans-serif;
//containers-width
$main-container-w: min(120rem, 95%)