@use '../../sass/variables.scss' as *;
.container{
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  width: $main-container-w;
  margin: 0 auto;
  row-gap: 6rem;
  
  .results_info{
    display: flex;
    align-items: center;
    h2{
      position: absolute;
      background-color: $black;
      font-size: $font-h1;
      span{
        padding: 0 1rem;
        color: $light-green;
      }
    }
    div{
      width: 100%;
      height: 0;
      border: 1px solid $white;
    }
  }
  .results_container{
    display: grid;
    padding: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    @media screen and (max-width: 1300px) {
      grid-template-columns: 1fr;
    }
  }
}